#navcolor {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,148,233,1) 100%);
    
}

#navletra {
    color: black;
    
}

#navtitulo{
    color: white;
    background-color: black;
}

.carousel-item img {
    width: 500px;
    height: 400px;
}

#registrocolor{
    
    height: 610px;
    width: 750px;
    padding: 30px  ; 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(145,173,255,1) 100%);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logincolor{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(145,173,255,1) 100%);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#error{
    color: white;
    background-color: red;
    height: auto;
    width: auto;
}

#succes{
    color: white;
    background-color: green;
    height: auto;
    width: auto;
}

#fondo{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 75%);
}

#titulonosotros{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(145,173,255,1) 100%);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}

#contenedorgr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(238,174,202,1);
}

#contenedorpq {
    width: 30%;

}

