#navcolor {
    background-color: rgb(152, 214, 243);
    
}

#navletra {
    color: black;
    
}

#navtitulo{
    color: white;
    background-color: black;
}

.carousel-item img {
    width: 500px;
    height: 400px;
  }
  