#navcolor {
    background-color: rgb(152, 214, 243);
    
}

#navletra {
    color: black;
    
}

#navtitulo{
    color: white;
    background-color: black;
}

.carousel-item img {
    width: 500px;
    height: 400px;
  }

#registrocolor{
    background-color: rgb(121, 198, 235);
    height: 610px;
    width: 750px;
    padding: 30px  ; 
    border: solid rgb(19, 51, 156) 5px ;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#error{
    color: white;
    background-color: red;
    height: auto;
    width: auto;
}

#succes{
    color: white;
    background-color: green;
    height: auto;
    width: auto;
}
  